@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
  --color-green: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

* {
  font-family: 'Poppins';
}

body {
  margin: 0px;
  padding: 0px;
}

.swiper-slide {
  width: auto !important;
}

